---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import BackgroundUniverse from "../images/background-universe.jpeg";
import masterClass from "../images/masterclass.jpg";
import communityLlados from "../images/communityLlados.png";
import { MasterClassIcon } from "../images/icons/masterclass";
import { Tu1millon } from "../images/icons/tu1millon";
---

<Layout title="Home - Tu1millon">
  <section class="w-full h-screen">
    <Image
      src={BackgroundUniverse}
      alt="Background universe"
      class="w-full h-screen absolute top-0 left-0 -z-10 object-cover object-center brightness-50"
    />
    <div
      class="w-full h-full flex flex-col gap-3 py-16 px-10 lg:flex-row-reverse lg:py-28 lg:gap-10 2xl:px-64"
    >
      <Image
        src={masterClass}
        alt="Llados crea la persona que admiras y respetas"
        class="w-full rounded-lg object-cover object-center h-1/4 md:h-1/2 lg:h-full lg:w-1/2 xl:h-3/4"
      />
      <div class="flex flex-col gap-3">
        <h1
          class="text-secondary text-xl font-bold md:text-4xl lg:text-5xl xl:text-7xl"
        >
          Crea a la persona que mas admiras y respetas
        </h1>
        <p class="text-white mt-2 md:text-xl md:mt-5 lg:text-2xl xl:text-4xl">
          Toma el control de tu destino, aprendiendo estrategias para
          desarrollar habilidades, mentalidad y caracter para alcanzar tus
          metas, descubre como tranformo vidas.
        </p>
        <p class="text-white md:text-xl lg:text-2xl xl:text-4xl">
          Formación por el mismo <b
            class="text-secondary border-b border-secondary py-1">Llados</b
          >, que te ayudara a convertirte en <b
            class="text-secondary border-b py-1">Ganador</b
          >
        </p>
        <button
          id="button_go_masterclass"
          class="text-white font-bold border border-primary bg-primary hover:scale-105 rounded py-1 mt-10 md:w-fit md:px-5 md:text-xl lg:text-2xl xl:rounded-xl"
          >Empieza a ganar</button
        >
      </div>
    </div>
  </section>
  <section class="w-full">
    <div
      class="w-full flex flex-col gap-3 py-16 px-10 lg:flex-row lg:py-28 lg:gap-10"
    >
      <Image
        src={communityLlados}
        alt="Comunidad de Llados"
        class="w-full rounded-lg object-cover object-center h-1/2 md:h-1/2 lg:h-full lg:w-1/2 xl:h-3/4"
      />
      <div class="flex flex-col gap-3">
        <h2
          class="text-primary text-xl font-bold md:text-4xl lg:text-5xl xl:text-6xl"
        >
          ¡Tranformando vidas!
        </h2>
        <p class="mt-2 md:text-xl md:mt-5 lg:text-2xl xl:text-3xl">
          Desde <b class="text-primary border-b border-primary">2015</b> comenzaba
          mi trayectoria con <b class="text-primary border-b border-primary"
            >$50 euros</b
          > en mi cuenta y atrapado en la matrix.
        </p>
        <p class="md:text-xl md:mt-3 lg:text-2xl xl:text-3xl">
          Ahora en <b class="text-primary border-b border-primary">2024</b> vivo
          la vida de tus <b class="text-primary border-b border-primary"
            >sueños</b
          > y ayudando a que otras personas com tu lo logren.
        </p>
      </div>
    </div>
    <div
      class="w-full flex flex-col gap-5 px-10 mb-10 md:flex-row md:gap-16 xl:px-44"
    >
      <div class="flex flex-col items-center md:w-1/2">
        <MasterClassIcon styles="w-10 h-10 xl:w-16 xl:h-16" />
        <h5 class="text-primary text-xl font-bold md:text-3xl xl:text-4xl">
          Mentorias
        </h5>
        <p class="text-lg mt-3 text-balance xl:text-xl">
          Recibe <b class="text-primary border-b border-primary"
            >mentorias en vivo o presencial</b
          > para aprender hábitos, entrenamiento, comer saludable, eliminar vicios,
          crecer personal y profesional.
        </p>
      </div>
      <div class="flex flex-col items-center md:w-1/2">
        <Tu1millon styles="w-10 h-10 xl:w-16 xl:h-16" />
        <h5 class="text-primary text-xl font-bold md:text-3xl xl:text-4xl">
          Formación
        </h5>
        <p class="text-lg mt-3 text-balance xl:text-xl">
          Recibe formación donde <b class="text-primary border-b border-primary"
            >Llados</b
          > te enseña a escapar el sistema cambiando vidas con <b
            class="text-primary border-b border-primary"
            >Marketing de Afiliados</b
          >, desde tu movil en cualquier parte y sin experiencia.
        </p>
      </div>
    </div>
  </section>
  <section class="w-full bg-tertiary">
    <div class="w-full px-10 py-16">
      <h3 class="text-secondary text-2xl text-center md:text-5xl">
        Que dicen mis alumnos
      </h3>
      <p class="text-white italic text-sm text-balance text-center md:text-2xl">
        Descubre como eh tranformado la vida de mis alumnos
      </p>
      <div class="xl:flex xl:justify-center xl:gap-10 xl:px-40 xl:mt-10">
        <div
          class="flex flex-col gap-2 mt-5 lg:flex-row lg:gap-10 xl:flex-col xl:mt-0 xl:justify-between"
        >
          <div class="flex flex-col gap-3 xl:items-center">
            <h5
              class="text-secondary text-xl font-bold md:text-2xl lg:text-5xl"
            >
              Mikel
            </h5>
            <p class="text-white text-sm md:text-lg lg:text-2xl">
              Llego a mi como <b
                class="text-secondary border-b border-secondary">empleado</b
              >, cansado de estar atrapado en el sistema, generando <b
                class="text-secondary border-b border-secondary"
                >$300 eur al mes</b
              > como monitor extraescolar.
            </p>
            <p class="text-white text-sm md:text-lg lg:text-2xl">
              Ahora en tan solo <b
                class="text-secondary border-b border-secondary">9 meses</b
              > entre marketing de afiliados y coaching online esta generando <b
                class="text-secondary border-b border-secondary">+25K al mes</b
              >.
            </p>
          </div>
          <a
            href="https://www.tu1millon.com/sala-caminotu1millon-afiliados-1?wvideo=zuswa962od"
            ><img
              src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2155002898/settings_images/21c3f8-62d8-f4a4-8d6d-cef1d43f20a2_78FB90E9-CD49-43BE-BD5C-72ADA2B385B5.JPG"
              alt="Testimonio de Mikel"
              class="rounded-2xl mt-3 shadow-2xl object-cover object-center w-full h-36 md:h-96 lg:h-fit xl:h-52"
            /></a
          >
        </div>
        <div
          class="flex flex-col gap-2 mt-5 lg:flex-row-reverse lg:gap-10 lg:mt-10 xl:flex-col xl:mt-0 xl:justify-between"
        >
          <div class="flex flex-col gap-3 lg:w-1/2 xl:w-full xl:items-center">
            <h5
              class="text-secondary text-xl font-bold md:text-2xl lg:text-5xl"
            >
              Samuel
            </h5>
            <p class="text-white text-sm md:text-lg lg:text-2xl">
              Tiene 23 años, un chico normal de Peru que me seguía en youtube,
              en mayo se unio a la <b
                class="text-secondary border-b border-secondary"
                >Sala de Afiliados Tu1millon</b
              > y el primero mes ya generaba <b
                class="text-secondary border-b border-secondary"
                >$30 eur al mes</b
              >.
            </p>
            <p class="text-white text-sm md:text-lg lg:text-2xl">
              Ahora en tan solo 4 meses esta generando <b
                class="text-secondary border-b border-secondary"
                >$6,170 eur al mes</b
              >, esto en Peru es muchísimo dinero y sus amigos ni se lo creen.
            </p>
          </div>
          <div>
            <a
              href="https://www.tu1millon.com/sala-caminotu1millon-afiliados-1?wvideo=tkos9ka9ff"
              ><img
                src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2155010575/settings_images/4aeef-81ae-e58f-e8ba-587ff0da32cc_Screenshot_2023-10-04_at_6.26.19_AM.png"
                alt="Testimonio de Samuel"
                class="rounded-2xl mt-3 shadow-2xl object-cover object-center w-full h-36 md:h-96 lg:w-96 xl:w-full xl:h-52"
              /></a
            >
          </div>
        </div>
        <div
          class="flex flex-col gap-2 mt-5 lg:flex-row lg:mt-10 xl:flex-col xl:mt-0 xl:justify-between"
        >
          <div class="flex flex-col gap-3 xl:items-center">
            <h5
              class="text-secondary text-xl font-bold md:text-2xl lg:text-5xl"
            >
              Maritza
            </h5>
            <p class="text-white text-sm md:text-lg lg:text-2xl">
              No creia ni posible generar <b
                class="text-secondary border-b border-secondary"
                >$600 eur al mes</b
              > desde peru.
            </p>
            <p class="text-white text-sm md:text-lg lg:text-2xl">
              Ahora en tan solo <b
                class="text-secondary border-b border-secondary">5 meses</b
              > de poner trabajo duro ya genera <b
                class="text-secondary border-b border-secondary">el doble</b
              > de un gran salario en su país desde su movil.
            </p>
          </div>
          <a
            href="https://www.tu1millon.com/sala-caminotu1millon-afiliados-1?wvideo=4xlksq03q0"
            ><img
              src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2155002898/settings_images/b73037e-f0ab-785e-7f26-8d36520ec8c1_Screen_Shot_2023-09-25_at_10.31.47_AM.png"
              alt="Testimonio de Maritza"
              class="rounded-2xl mt-3 shadow-2xl object-cover object-center w-full h-36 md:h-96 lg:h-fit xl:h-52"
            /></a
          >
        </div>
      </div>
      <div class="xl:px-40 xl:flex xl:justify-end">
        <button
          id="button_go_testimonials"
          class="text-white font-bold border border-primary bg-primary hover:scale-105 rounded py-1 px-3 mt-10 md:w-fit md:px-5 md:text-xl lg:text-2xl xl:rounded-xl"
          >Ver mas casos de éxito...</button
        >
      </div>
    </div>
  </section>
  <!-- <section class="w-full">Hola</section> -->
</Layout>
