---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { HomeCard } from "@/components/CardHome.jsx";
import BackgroundUniverse from "../images/background-universe.jpeg";
---

<Layout title="Home - Tu1millon">
  <main class="w-full h-screen overflow-y-auto">
    <Image
      src={BackgroundUniverse}
      alt="Background universe"
      class="w-full h-screen absolute top-16 left-0 -z-10 object-cover object-center brightness-75 lg:top-20"
    />
    <div class="w-full h-full flex flex-col gap-5 p-5 lg:p-20">
      <div class="flex gap-5 flex-wrap justify-center">
        <HomeCard client:load />
      </div>
    </div>
  </main>
</Layout>

<script>
  const buttonLogin = document.getElementById("login");
  function redirectToUrl() {
    const url = "https://www.tu1millon.com/login";
    window.open(url, "_blank");
  }
  buttonLogin?.addEventListener("click", () => redirectToUrl());
</script>
